.clickable {
  cursor: pointer;
  border-radius: 50%;
  padding: 4px;
  width: 32px;
  height: 32px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--font-color);
}

.clickable:hover {
  background-color: var(--border-color);
}

.modalBackdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--shadow-color);
    border-radius: 24px;
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.modalContent {
    background-color: var(--background-color);
    padding: 16px 24px;
    border-radius: 12px;
    border: 1px solid var(--border-color);
    max-width: 500px;
    width: 100%;    
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.modalBody, input, .modalHeader {
    color: var(--font-color);
}

.modalHeader h3, h4, 
.settingItem span,
.settingItem input::placeholder {
    margin: 0;
    font-family: 'Andika', sans-serif;
}

.settingItem input::placeholder {
    color: var(--inactive-font-color);
}

.settingItem input {
    padding: 8px 12px;
    border-radius: 8px;
    border: none;
    outline: none;
    width: 240px;
    background-color: var(--container-color);
}

.settingsSection {
    background-color: var(--container-color);
    padding: 12px 16px;
    border-radius: 16px;
    margin: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0 2px 4px var(--shadow-color);
}

.settingItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.settingLabel {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    color: var(--font-color);
}

.settingLabel > img {
    filter: invert(var(--is-dark-mode));
}

.textSwitch {
    display: flex;
    flex-direction: row;
    gap: 4px;
    color: var(--font-color);
}

.switchOption {
  cursor: pointer;
  border-radius: 6px;
  padding: 4px 6px;
  align-items: center;
  display: flex;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: var(--inactive-font-color);
}

.active {
  color: var(--font-color);
}

.switchOption:hover {
  background-color: var(--border-color);
}